<section class="h-screen flex justify-center items-center  w-full" >
    <div class="">
        <h1>Bienvebido a la Biblioteca UTELVT</h1>
        <div class="flex justify-center">
            <a class="bg-green-600 px-3 py-1.5 rounded-md text-white" href="/signin">Comenzar</a>
        </div>
    </div>
</section>