<section class="h-screen bg-slate-100 flex items-center justify-center ">
    <div class="border shadow-md rounded-md bg-white w-5/12">
        <form action="">
            <h1 class="p-2 text-xl font-semibold">Recuperar cuenta</h1>
            <hr>
            <p class="p-2 text-lg">Ingresa tu correo electrónico o número de cedula para buscar tu cuenta.</p>
            <div class="p-2 ">
                <input placeholder="Correo electrónico o numero de cedula" class="border  outline-none text-lg py-3 px-3 rounded-md w-full" type="text">
            </div>
            <hr>
            <div class=" p-2  space-x-2 flex items-center justify-end mt-2">
                <a class="bg-gray-400 py-1.5 px-3 rounded-md font-semibold " href="/signin">Cancelar</a>
                <button class="bg-blue-500 px-3 py-1.5 rounded-md font-semibold text-white">Buscar</button>
            </div>
        </form>
    </div>
</section>