<section class="h-screen bg-slate-100 flex justify-center items-center" >
    <div class="border rounded-md  w-96  shadow-md  bg-white">
        <div class="p-2">
            <h1 class="text-center font-semibold text-2xl" >Crear cuenta nueva</h1>
        <p  class="text-center">Bienvenido</p>
        </div>
        <hr>
        <form class="space-y-2 p-2" action="" method="post">
            <div class="">
                <input name="ci" class="w-full border rounded-md outline-none px-3 py-1.5" placeholder="Cedula" type="text">
            </div>
            <div class="md:space-x-2 md:flex md:items-center ">
                <div>
                    <input name="name" class="border rounded-md w-full outline-none px-3 py-1.5" placeholder="Nombre" type="text"> 
                </div>
                <div>
                    <input name="surname" class="border rounded-md w-full outline-none px-3 py-1.5" placeholder="Apellido" type="text">
                </div>
            </div>
            <div>
                <input name="email" class="border px-3 w-full py-1.5 outline-none rounded-md " placeholder="Correo electonico" type="text">
            </div>
            <div>
                <input name="password" placeholder="contraseña" class="border px-3 py-1.5 w-full rounded-md " type="password">
            </div>
            <div class="flex justify-center " >
                <button class="bg-green-400 px-12 font-semibold py-1.5 text-white rounded-md">Registrar</button>
            </div>
            <div class="flex justify-center">
                <a class="text-blue-500"  href="/signin">¿Ya tienes una cuenta?</a>
            </div>
        </form>
    </div>
</section>